{% macro header(icon, title) %}
    <li>
        <h6 class="dropdown-header">
            <i class="fa-solid fa-{{ icon }} me-2"></i>{{ title|trans|upper }}
        </h6>
    </li>
{% endmacro header %}

{% macro divider() %}
    <li><hr class="dropdown-divider"></li>
{% endmacro divider %}

{% macro locale_entry(locale) %}
    {% set src = asset('images/' ~ locale ~ '.svg') %}
    {% set text = locale|locale_name(locale)|capitalize %}
    {% set href = path('switch_locale', {locale: locale}) %}
    {% set checked = app.request.locale == locale ? ' checked' : '' %}
    <li>
        <a class="dropdown-item d-flex align-items-center" href="{{ href }}" aria-pressed="false">
            <img class="locale-icon ms-4 me-2" alt="{{ text }}" src="{{ src }}">
            <span>{{ text }}</span>
            <i class="fa-solid fa-check ms-auto{{ checked }}"></i>
        </a>
    </li>
{% endmacro locale_entry %}

{% macro theme_entry(theme, icon) %}
    {% set text = ('theme.' ~ theme)|trans %}
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-theme="{{ theme }}" aria-pressed="false">
            <i class="theme-icon fa-solid fa-{{ icon }} ms-4 me-2"></i>
            <span>{{ text }}</span>
            <i class="fa-solid fa-check ms-auto"></i>
        </button>
    </li>
{% endmacro theme_entry %}

<div class="dropdown">
    <button class="btn btn-link text-body text-decoration-none dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="{{ 'form.actions'|trans }}">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {{ _self.header('language', 'locale.title') }}
        {{ _self.locale_entry('en') }}
        {{ _self.locale_entry('fr') }}
        {{ _self.divider() }}
        {{ _self.header('palette', 'theme.title') }}
        {{ _self.theme_entry('light', 'sun') }}
        {{ _self.theme_entry('dark', 'moon') }}
        {{ _self.theme_entry('auto', 'circle-half-stroke') }}
        {{ _self.divider() }}
        <li>
            <a href="https://github.com/laurentmuller/fpdf2-make-font-ui" target="_blank" class="dropdown-item">
                <i class="fa-brands fa-github me-2"></i>{{ 'form.source'|trans }}
            </a>
        </li>
    </ul>
</div>
