<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="FPDF2 Make Font">
    <meta name="description" content="Allow creating fonts for FPDF2.">
    <title>{% block title %}{{ 'query.title'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/icon_192.png') }}">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ asset('images/icon_144.png') }}">
    <link rel="manifest" type="application/manifest+json" href="{{ asset('site.webmanifest') }}">
    {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}" nonce="{{ csp_nonce() }}">
    {% endblock %}
    {% block javascripts -%}
        <script src="https://kit.fontawesome.com/6a9ba3897a.js" nonce="{{ csp_nonce() }}"crossorigin="anonymous"></script>
        <script src="{{ asset('theme.js') }}" nonce="{{ csp_nonce() }}" crossorigin="anonymous"></script>
        {% block importmap %}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row my-3">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
