{% extends 'base.html.twig' %}
{% set is_exception = result and result.exception %}
{% set is_content = result and result.content %}
{% set is_success = result and result.success %}
{% block title %}{{ 'query.title'|trans }}{% endblock %}
{% block body %}
    <div class="card rounded-0">
        {{ form_start(form, {attr: {id: 'data-form', name: 'data-form'}}) }}
        <div class="card-header d-flex flex-wrap">
            <h1 class="card-title h5 my-2 me-auto">{{ block('title') }}</h1>
            {{ include('_menu.html.twig') }}
        </div>
        <div class="card-body">
            {{ form_row(form.fontFile, {label_attr: {class: 'required'}}) }}
            {{ form_row(form.afmFile) }}
            {{ form_row(form.encoding) }}
            {{ form_row(form.embed) }}
            {{ form_row(form.subset) }}
            {% if is_exception %}
                <div class="alert alert-danger d-flex align-items-baseline" role="alert">
                    <i class="fa-solid fa-circle-exclamation me-1"></i>
                    <div>{{ result.message|raw }}</div>
                </div>
            {% elseif is_content %}
                <div class="alert alert-success" role="alert">
                    <a class="alert-link d-flex align-items-center fw-normal drop-down-icon-right" href="#details" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="details">
                        <i class="fa-solid fa-circle-info me-1"></i>{{ 'result.success'|trans }}
                    </a>
                    <div id="details" class="collapse">
                        <hr>
                        <ul class="mb-0">
                            {% for line in result.splitContent %}
                                <li>{{ line|e }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-footer d-flex flex-wrap align-items-start gap-2">
            <button type="submit" class="btn btn-form btn-primary">
                <i class="fa-solid fa-pen-to-square me-1"></i>{{ 'query.generate'|trans -}}
            </button>
            <button id="erase" name="erase" type="button" class="btn btn-form btn-secondary{% if not is_success %} me-auto{% endif %}">
                <i class="fa-solid fa-eraser me-1"></i>{{ 'query.reset'|trans -}}
            </button>
            {% if is_success %}
                <a id="download" href="{{ path('download') }}" role="button" class="btn btn-form btn-success me-auto">
                    <i class="fa-solid fa-download me-1"></i>{{ 'query.download'|trans -}}
                </a>
            {% endif %}
            <span class="mt-0 form-text required">{{ 'form.required'|trans }}</span>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block importmap %}
    {{ importmap('app', {nonce: csp_nonce()}) }}
{% endblock %}
