{% extends 'base.html.twig' %}
{# macros #}
{% macro output_level(levels, level, message) -%}
<div class="d-flex align-items-baseline">
    {%- if level == levels.ERROR -%}
        <i class="fa-solid fa-circle-exclamation text-danger me-2"></i>
    {%- elseif level == levels.WARNING > 0 -%}
        <i class="fa-solid fa-triangle-exclamation text-warning me-2"></i>
    {%- else -%}
        <i class="fa-solid fa-circle-check text-info me-2"></i>
    {%- endif -%}
    {{- message -}}
</div>
{%- endmacro %}
{# parameters #}
{% set is_success = result and result.success %}
{% set levels = enum('fpdf\\LogLevel') %}
{% block title %}{{ 'query.title'|trans }}{% endblock %}
{% block body %}
    <div class="card rounded-0">
        {{ form_start(form, {attr: {id: 'data-form', name: 'data-form'}}) }}
        <div class="card-header d-flex flex-wrap">
            <h1 class="card-title h5 my-2 me-auto">{{- block('title') -}}</h1>
            {{ include('_menu.html.twig') }}
        </div>
        <div class="card-body">
            {{ form_row(form.fontFile, {label_attr: {class: 'required'}}) }}
            {{ form_row(form.afmFile) }}
            {{ form_row(form.encoding) }}
            {{ form_row(form.embed) }}
            {{ form_row(form.subset) }}
            {% if result and result.exception %}
                <div class="alert alert-light" role="alert">
                    <a class="alert-link d-flex align-items-center fw-normal drop-down-icon-right" href="#details" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="details">
                        {{- _self.output_level(levels, levels.ERROR, 'result.error'|trans) -}}
                    </a>
                    <div id="details" class="collapse">
                        <hr>
                        <ul class="list-unstyled ms-3 mb-0">
                            <li>{{- _self.output_level(levels, levels.ERROR, result.message|raw) -}}</li>
                        </ul>
                    </div>
                </div>
            {% elseif result and result.success %}
                <div class="alert alert-light" role="alert">
                    <a class="alert-link d-flex align-items-center fw-normal drop-down-icon-right" href="#details" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="details">
                        {{- _self.output_level(levels, levels.INFO, 'result.success'|trans({'%name%': result.name})) -}}
                    </a>
                    <div id="details" class="collapse">
                        <hr>
                        <ul class="list-unstyled ms-3 mb-0">
                            {% for log in result.logs %}
                                <li>{{ _self.output_level(levels, log.level, log.message) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card-footer d-flex flex-wrap align-items-start gap-2">
            <button type="submit" class="btn btn-form btn-primary">
                <i class="fa-solid fa-pen-to-square me-1"></i>{{ 'query.generate'|trans -}}
            </button>
            <button id="erase" name="erase" type="button" class="btn btn-form btn-secondary{% if not is_success %} me-auto{% endif %}">
                <i class="fa-solid fa-eraser me-1"></i>{{ 'query.reset'|trans -}}
            </button>
            {% if is_success %}
                <a id="download" href="{{ path('download') }}" role="button" class="btn btn-form btn-success me-auto">
                    <i class="fa-solid fa-download me-1"></i>{{ 'query.download'|trans -}}
                </a>
            {% endif %}
            <span class="mt-0 form-text required">{{ 'form.required'|trans }}</span>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block importmap %}
    {{ importmap('app', {nonce: csp_nonce()}) }}
{% endblock %}
