{% macro locale_entry(locale) %}
    {% set text = locale|locale_name(locale)|capitalize %}
    {% set href = path('switch_locale', {locale: locale}) %}
    {% set active = app.request.locale == locale ? ' active' : '' %}
    {% set src = 'images/locale-' ~ locale ~ '.svg' %}
    <li>
        <a class="dropdown-item d-flex align-items-center{{ active }}" href="{{ href }}" aria-pressed="false">
            <img class="locale" alt="{{ text }}" src="{{ asset(src) }}">
            <span class="ms-2">{{ text }}</span>
            <i class="ms-auto fa-solid fa-check"></i>
        </a>
    </li>
{% endmacro %}

<div class="dropdown">
    <button id="locale-switcher" type="button" title="{{ 'locale.title'|trans }}" aria-expanded="false"
            class="btn btn-link p-1 dropdown-toggle d-flex align-items-center text-body text-decoration-none"
            data-bs-toggle="dropdown">
        <i class="fa-solid fa-language"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="locale-switcher">
        {{ _self.locale_entry('en') }}
        {{ _self.locale_entry('fr') }}
    </ul>
</div>
