{% macro theme_entry(theme, icon) %}
    {% set text = ('theme.' ~ theme)|trans %}
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-theme="{{ theme }}" aria-pressed="false">
            <i class="theme-icon fa-solid fa-{{ icon }}"></i>
            <span class="theme-text ms-2">{{ text }}</span>
            <i class="ms-auto fa-solid fa-check"></i>
        </button>
    </li>
{% endmacro %}

<div>
    <button id="theme-switcher" type="button"
            class="btn btn-link p-1 dropdown-toggle d-flex align-items-center text-body text-decoration-none"
            type="button" title="{{ 'theme.title'|trans }}" aria-expanded="false" data-bs-toggle="dropdown">
        <i class="theme-icon fa-solid fa-circle-half-stroke"></i>
        <span class="theme-text d-none block mx-1">{{ 'theme.auto'|trans }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="theme-switcher">
        {{ _self.theme_entry('light', 'sun') }}
        {{ _self.theme_entry('dark', 'moon') }}
        {{ _self.theme_entry('auto', 'circle-half-stroke') }}
    </ul>
</div>
