{% macro theme_entry(theme) %}
    {% set text = ('theme.' ~ theme)|trans %}
    <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-theme="{{ theme }}" aria-pressed="false">
            <svg class="icon"><use class="theme-icon" href="#icon-{{ theme }}"></use></svg>
            <span class="theme-text ms-2">{{ text }}</span>
            <svg class="ms-auto icon check" aria-hidden="true"><use href="#icon-check"></use></svg>
        </button>
    </li>
{% endmacro %}

<div class="dropdown">
    <button id="theme-switcher" type="button" title="{{ 'theme.title'|trans }}"  aria-expanded="false"
            class="btn btn-link p-1 dropdown-toggle d-flex align-items-center text-body text-decoration-none"
            data-bs-toggle="dropdown">
        <svg class="icon"><use class="theme-icon" href="#icon-auto"></use></svg>
        <span class="theme-text d-none block mx-1">{{ 'theme.auto'|trans }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="theme-switcher">
        {{ _self.theme_entry('light') }}
        {{ _self.theme_entry('dark') }}
        {{ _self.theme_entry('auto') }}
    </ul>
</div>
