{% extends 'base.html.twig' %}
{% block title %}{{ 'error.title'|trans|format(status_code, status_text) }}{% endblock %}
{% block body %}
    <div class="card rounded-0 border-danger">
        <div class="card-header rounded-0 d-flex flex-wrap text-bg-danger">
            <h1 class="card-title h5 my-2 me-auto">{{ block('title') }}</h1>
        </div>
        <div class="card-body">
            <p>{{ 'error.description'|trans|format(path('index'))|raw }}</p>
            {% if exception is defined %}
                <hr>
                <div class="row">
                    <div class="col-md-auto">{{ 'error.message'|trans }}</div>
                    <div class="col">{{ exception.message }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block importmap %}
    {{ importmap('error', {nonce: csp_nonce()}) }}
{% endblock %}
