{% extends 'base.html.twig' %}
{% block title %}{{ 'error.title'|trans|format(status_code, status_text) }}{% endblock title %}
{% block body %}
    <div class="card rounded-0 border-danger">
        <div class="card-header rounded-0 d-flex flex-wrap text-bg-danger">
            <h1 class="card-title h5 my-2"><i class="fa-solid fa-circle-exclamation"></i>{{- block('title') }}</h1>
        </div>
        <div class="card-body">
            <p>{{ 'error.description'|trans|format(path('index'))|raw }}</p>
            {% if exception is defined %}
                <hr>
                <div class="d-flex align-items-baseline gap-2">
                    <div class="text-nowrap">{{ 'error.message'|trans }}</div>
                    <div>{{ exception.message|raw }}</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
{% block importmap %}
    {{ importmap('error', {nonce: csp_nonce()}) }}
{% endblock importmap %}
